::-webkit-scrollbar {
  width: 1rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #470000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Abdo Text Light;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s ease-out;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
  padding: 0 7%;
  padding-top: 11rem;
  padding-bottom: 9rem;
}

/*modificações*/

.background-1 {
  background: url(../images/teste.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.background-2 {
  background: url(../images/fim.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.fundo {
  background-size: cover;
  background-position: center;
}

.background-3 {
  background-size: cover;
  background-position: center;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.7rem 3rem;
  border-radius: 5rem;
  background: var(--red);
  color: #fff;
  font-size: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background-color: #470000;
}

.btn:hover {
  background: #333;
}

.up-and-down::before,
.up-and-down::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 10rem;
  width: 100%;
  background-size: cover;
}

.up-and-down::before {
  background: url(../images/img-top.png);
  top: -6rem;
}

.up-and-down::after {
  background: url(../images/img-down.png);
  bottom: -6rem;
}

.heading {
  text-align: center;
  color: var(--red);
  padding: 1rem;
  font-size: 3.5rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: bottom;
  z-index: 10000;
  padding: 1.5rem 7%;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.5s;
}

header .logo {
  font-size: 2rem;
  color: #333;
}

header .logo i {
  padding-right: 0.5rem;
  color: var(--red);
}

header .logo .image-logo {
  padding-right: 0.5rem;
  color: var(--red);
  width: 15rem;
}

header .navbar a {
  font-size: 2.5rem;
  margin-left: 2rem;
  color: #333;
}

header .navbar a:hover {
  color: var(--red);
}

#menu-bars {
  font-size: 3rem;
  border: 0.1rem solid #333;
  color: #333;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  display: none;
}

.home {
  display: flex;
  align-items: center;
}

.home .content h1 {
  font-size: 5rem;
  color: var(--red);
}

.home .content h3 {
  font-size: 3rem;
  color: #333;
}

.home .content p {
  font-size: 2rem;
  padding: 1rem 0;
}

.home .image img {
  width: 36vw;
  position: relative;
  top: -9rem;
}

.features {
  display: flex;
  position: relative;
}

.features .stick {
  padding: 0 2rem;
}

.features .box-container .title {
  font-size: 3rem;
  color: var(--red);
  padding: 2rem;
}

.features .box-container .box {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.features .box-container .box img {
  height: 6rem;
  width: 6rem;
  margin: 2.5rem;
}

.features .box-container .box .info h3 {
  font-size: 2.5rem;
  color: #333;
}

.features .box-container .box .info p {
  font-size: 1.7rem;
  color: #666;
}

.features .box-container:first-child .box {
  flex-flow: row-reverse;
}

.features .box-container:first-child {
  text-align: right;
}

.services {
  position: relative;
  background-color: #fffcf7;
}

.services .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.services .box-container .box {
  overflow: hidden;
  flex: 1 1 30rem;
  margin: 1rem;
  position: relative;
  cursor: pointer;
  width: 400px;
  height: 400px;
}

.services .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.services .box-container .box .info {
  height: 100%;
  width: 100%;
  background: #ff8787;
  text-align: center;
  position: absolute;
  top: -100%;
  left: 0;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services .box-container .box .info h3 {
  font-size: 3rem;
  color: #fff;
  transform: translateY(5rem);
  opacity: 0;
}

.services .box-container .box:hover .info {
  top: 0%;
}

.services .box-container .box:hover .info h3 {
  transform: translateY(0rem);
  opacity: 1;
  transition-delay: 0.2s;
}

.teacher {
  background-color: #fffcf7;
}

.teacher .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.teacher .box-container .box {
  flex: 1 1 27rem;
  padding: 2rem 3rem;
  margin: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  text-align: center;
  background: url(../images/card-bg1.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.teacher .box-container .box img {
  height: 12rem;
  width: 12rem;
  padding: 1rem;
  border-radius: 50%;
  object-fit: cover;
}

.teacher .box-container .box h3 {
  font-size: 2.5rem;
  color: #333;
}

.teacher .box-container .box span {
  font-size: 1.7rem;
  color: var(--red);
}

.teacher .box-container .box .share {
  padding: 1rem 0;
}

.teacher .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 50%;
  border: 0.1rem solid #333;
  color: #333;
  font-size: 1.7rem;
  margin: 0.2rem;
}

.teacher .box-container .box .share a:hover {
  background: var(--red);

  border-color: var(--red);
}

.teacher .box-container .box p {
  color: #666;
  font-size: 1.4rem;
}

.pricing {
  position: relative;
  background-color: #fffcf7;
}

.pricing .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.pricing .box-container .box {
  flex: 1 1 35rem;
  margin: 1rem;
  padding: 4rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  text-align: center;
  background-size: cover !important;
  background-position: center !important;
  position: relative;
  overflow: hidden;
}

.pricing .box-container .box h3 {
  font-size: 4rem;
  color: #333;
}

.pricing .box-container .box .price {
  font-size: 5.5rem;
  color: var(--red);
}

.pricing .box-container .box .price span {
  font-size: 2.5rem;
}

.pricing .box-container .box p {
  font-size: 1.7rem;
  padding: 1rem 0;
  color: #666;
}

.pricing .box-container .box .choise {
  position: absolute;
  top: 0;
  right: -5rem;
  background: var(--red);
  color: #fff;
  font-size: 2rem;
  padding: 0.6rem 5.5rem;
  transform: rotate(45deg);
}

.contact {
  display: flex;
  align-items: center;
  background-color: #fffcf7;
}

.contact .image img {
  width: 25vw;
}

.image-gm img {
  width: 25vw;
}

.contact .row {
  display: flex;
  align-items: flex-end;
}

.contact .row .contact-info {
  padding: 2rem;
}

.contact .row .contact-form {
  padding: 2rem;
}

.contact .row .btn {
  cursor: pointer;
}

.contact .row .contact-info .box {
  padding: 1rem 0;
}

.contact .row .contact-info .box .title {
  padding: 1rem 0;
  font-size: 3rem;
  color: #333;
}

.contact .row .contact-info .box p {
  font-size: 1.7rem;
  padding: 0.5rem 0;
  color: #666;
}

.contact .row .contact-info .box p i {
  padding-right: 0.5rem;
  color: var(--red);
}

.contact .row .contact-info .box a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 50%;
  border: 0.1rem solid #333;
  color: #333;
  font-size: 1.7rem;
  margin: 0.2rem;
  text-align: center;
}

.contact .row .contact-info .box a:hover {
  background: var(--red);
  border-color: var(--red);
  background-image: #fff;
}

.contact .row .contact-info .box form input[type="email"] {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  color: #666;
  text-transform: none;
  border-radius: 5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.contact .row .contact-form h3 {
  font-size: 3rem;
  color: #333;
  padding-bottom: 1rem;
}

.contact .row .contact-form .box {
  width: 100%;
  border-radius: 5rem;
  padding: 1rem 1.5rem;
  font-size: 1.7rem;
  color: #666;
  margin: 1rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  text-transform: none;
}

.contact .row .contact-form .message {
  border-radius: 2rem;
  height: 15rem;
  resize: none;
}

.footer {
  position: relative;
  text-align: center;
  padding: 2.5rem 1.5rem;
  font-size: 2rem;
  color: #666;
}

.footer span {
  color: var(--red);
}

.footer::before {
  content: "";
  position: absolute;
  top: -8rem;
  left: 50%;
  transform: translateX(-50%);
  background: url(../images/img-top.png) no-repeat;
  background-size: cover;
  height: 8rem;
  width: 100%;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 1.5rem 3%;
    padding-bottom: 6rem;
  }

  section {
    padding: 0 3%;
    padding-top: 11rem;
    padding-bottom: 9rem;
  }
}

@media (max-width: 768px) {
  #menu-bars {
    display: block;
  }

  header .navbar {
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    height: calc(100vh - 70%);
    border-top: 0.2rem solid #333;
    background: url(../images/card-bg1.png) no-repeat;
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.nav-toggle {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a {
    font-size: 5rem;
    margin: 2rem 0;
    display: block;
    text-align: center;
  }

  .home .image img {
    display: none;
  }

  .home .content {
    text-align: center;
  }

  .home .content h1 {
    font-size: 3.5rem;
  }

  .home .content h3 {
    font-size: 2.5rem;
  }

  .home .content p {
    font-size: 1.5rem;
  }

  .features {
    flex-flow: column;
  }

  .features .stick {
    display: none;
  }

  .contact .image img {
    display: none;
  }

  .contact .row {
    flex-flow: column;
    align-items: flex-start;
  }
}

@media (max-width: 450px) {
  .contact .row .contact-info {
    margin-top: 150px;
  }

  html {
    font-size: 50%;
  }

  .features .box-container,
  .features .box-container:first-child {
    text-align: center;
  }

  .features .box-container .box,
  .features .box-container:first-child .box {
    flex-flow: column;
  }

  .contact .row .contact-info .box .title,
  .contact .row .contact-info .box p,
  .contact .row .contact-info .box a {
    color: black !important;
  }

  .sobre,
  .calendario,
  .sobrevet,
  .sobrepet,
  .sobrehot,
  .sobredi {
    flex-direction: column;
  }

  .sobrepet img,
  .sobrevet img {
    max-width: 100%;
    object-fit: contain;
  }

  .image-gm img {
    width: auto;
  }
}

/*SOBRE*/

.sobre {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sobre .image img {
  width: 45vw;
}

.sobre .content h3 {
  font-size: 4rem;
  color: var(--red);
}

.sobre .content p {
  font-size: 2rem;
  color: #666;
  padding: 1rem 0;
}

.sobre .image img {
  display: none;
}

.sobre .content {
  text-align: center;
  font-size: 1.5rem;
}

.sobre {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/fundo.png);
}

/* sobre do veterinario */

.sobrevet {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sobrevet .image img {
  width: 45vw;
}

.sobrevet .content h3 {
  font-size: 4rem;
  color: var(--red);
}

.sobrevet .content p {
  font-size: 2rem;
  color: #666;
  padding: 1rem 0;
}

.sobrevet .image img {
  display: none;
}

.sobrevet .content {
  text-align: center;
  font-size: 1.5rem;
}

.sobrevet {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/fundovet.png);
}

/* sobre do pet */

.sobrepet {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sobrepet .image img {
  width: 45vw;
}

.sobrepet .content h3 {
  font-size: 4rem;
  color: var(--red);
}

.sobrepet .content p {
  font-size: 2rem;
  color: #666;
  padding: 1rem 0;
}

.sobrepet .image img {
  display: none;
}

.sobrepet .content {
  text-align: center;
  font-size: 1.5rem;
}

.sobrepet {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/fundopet.png);
}

/* sobre do hotel */

.sobrehot {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sobrehot .image img {
  width: 45vw;
}

.sobrehot .content h3 {
  font-size: 4rem;
  color: var(--red);
}

.sobrehot .content p {
  font-size: 2rem;
  color: #666;
  padding: 1rem 0;
}

.sobrehot .image img {
  display: none;
}

.sobrehot .content {
  text-align: center;
  font-size: 1.5rem;
}

.sobrehot {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/fundohot.png);
}

/* sobre do diversos */

.sobredi {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sobredi .image img {
  width: 45vw;
}

.sobredi .content h3 {
  font-size: 4rem;
  color: var(--red);
}

.sobredi .content p {
  font-size: 2rem;
  color: #666;
  padding: 1rem 0;
}

.sobredi .image img {
  display: none;
}

.sobredi .content {
  text-align: center;
  font-size: 1.5rem;
}

.sobredi {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/fundohot.png);
}

.services {
  background-image: url(../images/fundo.png);
}

/*CALENDARIOS*/

.calendario {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/fundo.png);
}

.calendario {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendario .image img {
  width: 45vw;
}

.calendario .content h3 {
  font-size: 4rem;
  color: var(--red);
}

.calendario .content p {
  font-size: 2rem;
  color: #666;
  padding: 1rem 0;
}

.calendario .image img {
  display: none;
}

.calendario .content {
  text-align: center;
  font-size: 1.5rem;
}

/*deixando a imagem com um espaçamento entre as escrituras do Sobre e Calendário*/

/*sobre*/

.sobre {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-gm {
  flex: 1; /* A imagem ocupará metade da largura da seção, ajuste conforme necessário */
  padding: 20px; /* Adicione espaçamento conforme necessário */
}

.image-gm img {
  max-width: 100%;
  height: auto;
  display: block;
}

.content {
  flex: 1; /* O conteúdo ocupará a outra metade da largura da seção */
  padding: 20px; /* Adicione espaçamento conforme necessário */
}

.image-c {
  flex: -1; /* A imagem ocupará metade da largura da seção, ajuste conforme necessário */
  padding: 20px; /* Adicione espaçamento conforme necessário */
}

.image-c img {
  max-width: 100%;
  height: auto;
  display: block;
}

.content {
  flex: 1; /* O conteúdo ocupará a outra metade da largura da seção */
  padding: 20px; /* Adicione espaçamento conforme necessário */
}

.content li {
  font-size: 2rem;
  color: #666;
}